/* body {
    background-color: #121212;
    color: #f0f0f0;
}
  
a {
    color: #90caf9;
}

.navbar {
    background-color: #1f1f1f !important;
}

.navbar a {
    color: #e0e0e0 !important;
}

.navbar a:hover {
    color: #ffffff !important;
} */